In [1]:
from IPython.display import display, HTML
display(HTML("""
<style>
div.container{width:86% !important;}
div.cell.code_cell.rendered{width:100%;}
div.CodeMirror {font-family:Consolas; font-size:12pt;}
div.output {font-size:15pt; font-weight:bold;}
div.input {font-family:Consolas; font-size:12pt;}
div.prompt {min-width:70px;}
div#toc-wrapper{padding-top:120px;}
div.text_cell_render ul li{font-size:12pt;padding:5px;}
table.dataframe{font-size:15px;}
</style>
"""))

In [3]:
import pandas as pd
df = pd.read_csv('PM_data/서울시_시간별_PM_배치_2021_2025.csv', parse_dates=['일시'])
df

                        일시  행정구  PM대여량
0      2021-01-01 00:00:00  강남구     24
1      2021-01-01 01:00:00  강남구     24
2      2021-01-01 02:00:00  강남구     24
3      2021-01-01 03:00:00  강남구     24
4      2021-01-01 04:00:00  강남구     24
...                    ...  ...    ...
832651 2025-12-31 19:00:00  은평구     77
832652 2025-12-31 20:00:00  은평구     53
832653 2025-12-31 21:00:00  은평구     53
832654 2025-12-31 22:00:00  은평구     53
832655 2025-12-31 23:00:00  은평구     53

[832656 rows x 3 columns]

In [7]:
df_2024 = df[(df['일시'] >"2023")&(df['일시']<"2025")]
df_2024

                        일시  행정구  PM대여량
332881 2023-01-01 01:00:00  강남구     34
332882 2023-01-01 02:00:00  강남구     34
332883 2023-01-01 03:00:00  강남구     34
332884 2023-01-01 04:00:00  강남구     34
332885 2023-01-01 05:00:00  강남구     34
...                    ...  ...    ...
666211 2024-12-31 19:00:00  은평구     75
666212 2024-12-31 20:00:00  은평구     52
666213 2024-12-31 21:00:00  은평구     52
666214 2024-12-31 22:00:00  은평구     52
666215 2024-12-31 23:00:00  은평구     52

[333317 rows x 3 columns]

In [8]:
df_2024[df_2024['PM대여량']>90]

                        일시  행정구  PM대여량
333319 2023-01-01 07:00:00  은평구     98
333320 2023-01-01 08:00:00  은평구     98
333321 2023-01-01 09:00:00  은평구     98
333329 2023-01-01 17:00:00  은평구     98
333330 2023-01-01 18:00:00  은평구     98
...                    ...  ...    ...
665288 2024-12-29 08:00:00  은평구    100
665289 2024-12-29 09:00:00  은평구    100
665297 2024-12-29 17:00:00  은평구    100
665298 2024-12-29 18:00:00  은평구    100
665299 2024-12-29 19:00:00  은평구    100

[6067 rows x 3 columns]

In [9]:
import joblib
le_target = joblib.load('M2_ENCODER\타겟변수라벨인코더.pkl')

In [11]:
le_target.classes_

array(['공급과다', '공급다소부족', '공급부족', '공급절대부족', '공급평균'], dtype=object)

In [12]:
label_target_index = [(idx, class_name) for idx, class_name in enumerate(le_target.classes_.tolist())]
label_target_index

[(0, '공급과다'), (1, '공급다소부족'), (2, '공급부족'), (3, '공급절대부족'), (4, '공급평균')]

In [14]:
joblib.dump(label_target_index,'M2_ENCODER\타겟변수라벨인코더_index별_정보list.pkl')

['M2_ENCODER\\타겟변수라벨인코더_index별_정보list.pkl']